.mainCards {
    margin-left: 90px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between rows if needed */
}

.mainCards5 {
    display: flex;
    flex-wrap: wrap;
    gap: 70px; /* Adjust the gap between cards if needed */
}

