.mainCard{
    width: 384px;
    height: 455px;
    border-radius: 15px;
    background-color: white;
}

.imgCard{
    width: 384px;
    height: 307px;
    border-radius: 15px;
}

.cardContent{
    width: 384px;
    height: 148px;
}

.isRentBtn{
    width: 90px;
    height: 26px;
    border-radius: 15px;
    transform: translateY(-285px);
    margin-left: 33px;
    border: none;
    background-color: gray;
}

.cardContent2{
    margin-left: 25px;
    color: black;
    margin-top: 15px;
}

.location1{
    color: grey;
    margin-top: 10px;
}

.location2{
    color: grey;
}

.iconBox{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}