.box{
    margin-left: 90px;
    display: flex;
    margin-top: 20px;
    gap: 60px;
}

.txt{
    margin-left: 90px;
}

.pageContainer{
    margin-left: 90px;
    display: flex;
}



.sideBar{
    width: 503px;
    height: 520px;
    background-color: white;
    margin-left: 68px;
}

.price{
    color: black;
    font-size: 35px;
}

.icons{
    color: gray;
}

.txt2{
    margin-top: 20px;
    font-family: 500;
}