.subnav{
    height: 47px;
    width: 785px;
    margin-left: 100px;
}

.subnavUl{
    display: flex;
    list-style: none;
    gap: 24px;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 9px;
}

.test{
    width: 500px;

}

.main{
    display: flex;
    height: 50px;
    margin-top: 70px;
    width: 1350px;
    border: 2px solid grey;
    border-radius: 10px;
}